<ul class="sidebar-menu" data-widget="tree">
    <li class="header">НАВИГАЦИЯ</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-globe"></i> <span>Просмотр туров</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Таблицы</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="Countries"><i class="fa fa-circle-o"></i>Страны</a></li>
            <li><a href="Regions"><i class="fa fa-circle-o"></i>Регионы</a></li>
            <li><a href="Cities"><i class="fa fa-circle-o"></i>Города</a></li>
            <li><a href="Tours"><i class="fa fa-circle-o"></i>Туры</a></li>
        </ul>

    </li>
</ul>