<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/58ef0f9b-375b-4371-9620-310579bfbfa0/resourceGroups/AdminPanel20191114081732ResourceGroup/providers/Microsoft.Web/sites/AdminPanel20191114081732</ResourceId>
    <ResourceGroup>AdminPanel20191114081732ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://adminpanel20191114081732.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adminpanel20191114081732.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AdminPanel20191114081732</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AdminPanel20191114081732</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=adminpanelpegast.database.windows.net;Initial Catalog=Database;Persist Security Info=True;User ID=sa1em;Password=As4cNS0CV;Application Name=EntityFramework" Name="Data Source=adminpanelpegast.database.windows.net;Initial Catalog=Database;Persist Security Info=True;User ID=sa1em;Password=As4cNS0CV;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AdminPanel.Models.DatabaseEntities, AdminPanel" MigrationConfiguration="AdminPanel.Migrations.Configuration, AdminPanel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelsFromDb.csdl|res://*/Models.ModelsFromDb.ssdl|res://*/Models.ModelsFromDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=adminpanelpegast.database.windows.net;Initial Catalog=Database;Persist Security Info=True;User ID=sa1em;Password=As4cNS0CV;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>